---
layout: default
title: Home
---

# Hello!
I'm (George) Logan Bartholomew, a graduate student in the UC Berkeley department of chemistry working on fun new ways to make fun new things in the [Sarpong group](https://www.sarponggroup.com/). [Here]({{ site.url }}/pdfs/LoganBartholomewCV.pdf) is a link to my resumé should you be interested. 

This is a repository inclusive of projects, teaching materials, work and research descriptions, contact and resumé information, and more. 

Please see the dropdown sidebar via the panel on the top left of the screen to browse my site's other pages. **Welcome!**


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
